<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <%- include("../partial/header.ejs") %>
  <!-- TODO: Kui ainult üks post ja ilma pildita(või kui pole postitusi), siis läheb layout katki -->
  <div class="homepage body-container">
    <div class="container">
      <div class="posts list">
        <% if(posts.length === 0) { %>
          <h2>You did not post anything</h2>

        <% } else { %>
        <h2>All posts</h2>
        <!-- TODO: reset likes button missing -->
        <% posts.forEach(post => { %>
        <a href="/singlepost/<%= post.id %>" class="post-anchor">
          <div class="post">
            <div class="topper">
              <img src="/img/user.png" alt="User" />
              <p class="date"><%= post.createdAt %></p>
            </div>
            <% if(post.image != "") { %>
              <img src=" <%= post.image %> " alt=" <%= post.body %> " />
            <% } %>

            <h2><%= post.body %></h2>
            <div class="like">
              <p>Likes: <%= post.likes %></p>
              <% if(!post.liked) { %>
              <a href="/like/<%= post.id %>" id="like">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/SMirC-thumbsup.svg/1200px-SMirC-thumbsup.svg.png"
                  alt="Like"
                />
              </a>
              <% } %>
            </div>
          </div>
        </a>
        <% }) %>
        <% } %>
      </div>
    </div>
  </div>
  <%- include("../partial/footer.ejs") %>

 </body>
</html>