<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <%- include("../partial/header.ejs") %>
  <!-- TODO: Kui ainult üks post ja ilma pildita, siis läheb layout katki -->
  <div class="homepage body-container">
    <div class="container">
      <!-- TODO: if no posts in db, show “you did not post anything” 
      Note: “posts” is an array, you can check if it is empty by checking its length.-->
      <div class="posts list">
        <h2>All posts</h2>
        <!-- TODO: reset likes button missing -->
        <% posts.forEach(post => { %>
        <a href="/singlepost/<%= post.id %>" class="post-anchor">
          <div class="post">
            <div class="topper">
              <img src="/img/user.png" alt="User" />
              <p class="date"><%= post.createdAt %></p>
            </div>
            <!-- TODO: add link to singlepost /> -->
            <% if(post.image != "") { %>
              <img src=" <%= post.image %> " alt=" <%= post.body %> " />
            <% } %>

            <h2><%= post.body %></h2>
            <div class="like">
              <p>Likes: <%= post.likes %></p>
              <!-- TODO: Like adding logic -->
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/SMirC-thumbsup.svg/1200px-SMirC-thumbsup.svg.png"
                alt="Like"
              />
            </div>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
  </div>
  <%- include("../partial/footer.ejs") %>

 </body>
</html>